<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="additionalInfo">
    <h2 class="my-border-ref title-additionalInfo">Дополнительная информация</h2>
    <div class="row block-additionalInfos">
      <div class="col-12 block-additionalInfo">
        <div class="description">

        </div>
      </div>
    </div>
  </div>
  
</body>
</html>