<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div class="books">
    <h2 class="title-books my-border-ref">Учебники</h2>
    <div class="block-books row">
        <div class="col-sm-6 col-md-4 block-book shadow">
            <div><span class="bold">Название: </span><span class="name"></span></div>
            <div><span class="bold">Автор: </span><span class="author"></span></div>
            <div><span class="bold">Издательство: </span><span class="publish"></span></div>
            <div><span class="bold">Год: </span><span class="year"></span></div>
        </div>
    </div>
  </div>
</body>
</html>