<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div class="collectives">
    <h2 class="title-collectives my-border-ref">Коллективы</h2>
    <div class="block-collectives row">
        <div class="col-sm-6  block-collective shadow">
            <div><span class="bold">Название: </span><span class="name"></span></div>
            <div><span class="bold">Руководитель: </span><span class="head"></span></div>
            <div><span class="bold">Уровень: </span><span class="ageChildren"></span></div>
            <div><span class="bold">Описание: </span><span class="description"></span></div>
        </div>
    </div>
  </div>
</body>
</html>