
<%= _.template(require('./../includes/header.html'))() %>

<div class="container-main">
  <div class="title-block">
    <h1 class="title-map">Географический справочник учебных заведений</h1>  
  </div>
  <div class="container-map">
    <div class="wrapper">
      <div id="map"></div>
    </div>
</div>

<div class="block-area">
  <!-- <div class="row">  -->
    <!-- <div class="col-md-6">
      <ul class="block-one"></ul>
    </div>
    <div class="col-md-6">
        <ul class="block-two"></ul>
    </div> -->
  <!-- </div> -->
</div>

<div class="footer-map">
    <div class="block-text">
        <h3>Контакты</h3>
        <div class="names">
          <div class="block-name">Имя</div>
          <div class="block-name">Имя</div>
          <div class="block-name">Имя</div>
        </div>
    </div>
  </div>
</div>




<%= _.template(require('./../includes/footer.html'))() %>