<%= _.template(require('./../includes/header.html'))() %>

<div class="container-main">
  <div class="title-block">
    <h1 class="title-map">Интерактивная карта школ, обеспечивающих развитие мордовского этнокультурного компонента в
      рамках образовательного процесса</h1>
  </div>
  <div class="container-map container-map-md">
    <div class="wrapper">
      <div id="map"></div>
    </div>
  </div>

  <div class="block-area">
  </div>

  <div class="footer-map">
    <div class="block-text">
      <div class="copyright">© 2019</div>

      <div class="names">
        <span class="block-name">Прохорова С.Ю.</span>,
        <span class="block-name">Еливанов Д.А.</span>,
        <span class="block-name">Ефимов Д.О.</span>
      </div>
      <div class="block-org">КЭИ УлГТУ</div>

    </div>
  </div>
</div>
<%= _.template(require('./../includes/popup.html'))() %>



<%= _.template(require('./../includes/footer.html'))() %>