<%= _.template(require('./../includes/header.html'))() %>

<div class="container-main">
  <div class="title-block">
    <h1 class="title-map">Интерактивная карта школ, обеспечивающих развитие мордовского этнокультурного компонента в
      рамках образовательного процесса</h1>
  </div>
  <div class="container-map container-map-md">
    <div class="wrapper">
      <div id="map"></div>
    </div>
  </div>

  <div class="block-area">
  </div>

  <div class="footer-map">
    <div class="block-text">
      <div>
          Все права защищены © 2019
      </div>
      <!-- <h3>Контакты</h3>
      <div class="names">
        <div class="block-name">Имя</div>
        <div class="block-name">Имя</div>
        <div class="block-name">Имя</div>
      </div> -->
    </div>
  </div>
</div>
<%= _.template(require('./../includes/popup.html'))() %>



<%= _.template(require('./../includes/footer.html'))() %>