<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <main class="main">
    <header class="header">
      <h1 class="header-org"></h1>
      <p class="header-doc"></p>
    </header>

    <hr>
    <span class="main-people">
      <div class="block-director">
        <span class="surname"></span>
        <span class="name"></span>
        <span class="patronymic"></span>
      </div>
      <div class="block-responsible">
        <span class="surname"></span>
        <span class="name"></span>
        <span class="patronymic"></span>
        <span class="telephone"></span>

      </div>
  </main>
  
</body>
</html>