<%= _.template(require('./../includes/header.html'))() %>



  <%= _.template(require('./../includes/navbar.html'))() %>
  <div class="container">
    <div class="dynamic-place">



    </div>
  </div>

  <div id="result"></div>

  <div class="background-wrapper-img">
  </div>
  <div class="background-img">
  </div>

  <div class="block-btn-glass">
    <a href="#" class="btn-glass js-btn-glass"> Вернуться<br>на карту</a>
  </div>

  <%= _.template(require('./../includes/data.html'))() %>
  <%= _.template(require('./../includes/footer.html'))() %>