<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <div class="societies">
    <h2 class="title-societies my-border-ref">Кружки</h2>
    <div class="block-societies row">
        <div class="col-sm-6 col-md-4 block-society shadow">
            <div><span class="bold">Название: </span><span class="name"></span></div>
            <div><span class="bold">Класс: </span><span class="class"></span></div>
            <div><span class="bold">Руководитель: </span><span class="head"></span></div>
            <div><span class="bold">Описание: </span><span class="description"></span></div>
        </div>
    </div>
  </div>
</body>
</html>