@import "./popup.scss";
@import "./map.scss";

html, body {
  padding: 0;
  margin: 0;
  color: rgb(230, 230, 230);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.container-map-md {
  display: none;
}

@media (max-width: 475px) {
  .area-name {
    font-size: 1.5rem;
  }

  .container-main .title-block .title-map {
    font-size: 1.5rem;
  }
}
