@import "~bootstrap/scss/bootstrap";
@import "./border.scss";
@import "./popup.scss";
@import "./map.scss";
@import "./primary.scss";

html, body {
  padding: 0;
  margin: 0;
  color: rgb(230, 230, 230);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;

    .teachers {
      .block-teacher {
        font-size: 1.2rem;
      }
    }

    .dynamic-place {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 475px) {
  .area-name {
    font-size: 1.5rem;
  }

  .container-main .title-block {
    .title-map {
      font-size: 1.5rem;
    }
  }
  
  
  
}
